.clear {
	clear: both;
}

body, html{
	font-family: "Lato", sans-serif;
	background-color: #f3f3f3;
	margin: 0;
    width: 100%;
	margin-bottom: 50px;
}

h1 {
	font-family: "Rokkitt", sans-serif;
	color: #181818;
}

h2 {
	font-family: "Rokkitt", sans-serif;
	color: #181818;
	font-weight: normal;
	margin-bottom: 0;
}

li {
	list-style: none;
	color: #444444;;
}

p { 
	color: #444444;
}

#cv {
	margin: 0 auto;
	width: 62%;
	padding-top: 50px;
}

.mainDetails{
	border-bottom: 2px solid #cf8a05;
	
	padding: 0 50px 15px 50px ;
}

#contactDetails {
	float: right;
}

#contactDetails li{
	color: #444444;
}

#contactDetails a{
	text-decoration: none;
	color: #444444;
}

#headshot {
	float: left;
	margin-right: 25px;
}

#headshot img {
	border-radius: 50%;
    height: 70px;
}

#name {
	float: left;
}

#name h1 {
	margin: 0;
}

#name h2 {
	margin: 0;
}

#mainArea {
	margin: 0 40px;
}

.sectionTitle {
	float: left;
	width: 26%;
}

section:nth-child(-n + 3){
	border-bottom: 1px solid #dedede;
}

.sectionTitle h1 {
	color: #cf8a05;
	font-style: italic;
	font-weight: normal;
	font-size: 1.5em;
}

section:nth-child(1) h1{
	margin-top: 16px;
	font-size: 1.5em;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.subDetails{
	font-style: italic;
	font-size: 13px;
	margin: 0;
}

article > p{
	margin-top: 5px;
}

.keySkills{
	padding: 0;

}

.keySkills li:nth-child(-n + 3){
	 display: inline-block;
	 width: 30%;
}

.keySkills li:nth-child(n+4):nth-child(-n+6){
	display: inline-block;
	width: 30%;

}

.keySkills li:nth-child(n+7):nth-child(-n+8){
	display: inline-block;
	width: 30%;
}


